@import 'shared/styles/variables';

.footer {
  display: flex;
  border-top: 1px solid var(--color-light-grey);
  height: var(--sheet-footer-height);
  padding-left: calc(var(--sheet-padding) * 4);
  padding-right: calc(var(--sheet-padding) * 2);
}

.left {
  display: flex;
  height: 100%;
  width: 100%;
}

.right {
  height: 100%;
}

.button {
  margin-right: 1px;
}