@import 'shared/styles/variables';

.footer {
  display: flex;
  height: var(--sheet-footer-height);
  padding-left: calc(var(--sheet-padding) * 4);
  padding-right: calc(var(--sheet-padding) * 2);
}

.left {
  display: flex;
  width: 100%;
  transform: translateY(-4px);
}

.right {
  transform: translateY(-4px);
}

.button {
  margin-right: 1px;
}