.font_size {
  display: inline-flex;
  align-items: center;
}

.button {
  width: 40px;
  height: 40px;
}

.input {
  text-align: center;
  width: 40px;
  margin: 0 5px;
  height: 40px;
  border-top: 1px solid var(--color-light-grey);
  border-bottom: 1px solid var(--color-light-grey);
}

.dropdown {
  margin-left: 5px;
  margin-top: 5px;
  width: 40px;
}

.menu {
  padding: 8px 0;
}

.item {
  cursor: pointer;
  animation-duration: var(--animation-duration);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  font-size: 0.9rem;
}

.item:hover {
  background-color: var(--color-light-grey);
}