.card {
  width: 100%;
  display: grid;
  grid-gap: calc(var(--gap) * 2);
  grid-template-columns: 1fr 354px 45px;
}

.icon, .actions, .date {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.name {
  display: flex;
  align-items: center;
  height: 100%;
}

.date {
  justify-content: flex-start;
}

.actions svg {
  font-size: calc(var(--font-size) * 1.5);
  color: var(--color-black2);
}

.actions {
  transition: all var(--animation-duration);
  position: relative;
  height: 45px;
  border-radius: 50%;
}

.actions:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.action {
  top: 0;
  right: 0;
}

.alert {
  padding: calc(var(--gap) * 2) 0;
  width: 350px;
}

.alert_name {
  padding-top: var(--gap);
  font-weight: 400;
  color: var(--color-dark-green);
}