.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  padding: 5px 12px;
  border-radius: var(--border-radius);
  appearance: none;
  background-color: #fafaff;
  border-width: 0;
  border-top: 1px solid rgb(235, 235, 235);
  box-shadow: rgba(70, 67, 73, 0.4) 0 1px 1px, rgba(70, 67, 73, 0.3) 0 7px 13px -3px, #d8d8e2 0 -3px 0 inset;
  line-height: 1;
  position: relative;
  transition: box-shadow var(--animation-duration), transform var(--animation-duration);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.button:hover {
  box-shadow: rgba(70, 67, 73, 0.4) 0 3px 6px, rgba(70, 67, 73, 0.3) 0 7px 13px -3px, #d8d8e2 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #d8d8e2 0 2px 8px inset;
  transform: translateY(2px);
}

.button.icon {
  font-size: var(--font-big2);
  color: var(--color-black2);
}

.button_icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
