.font_size {
  display: inline-flex;
  align-items: center;
}

.button {
  width: 40px;
  height: 40px;
}

.input {
  text-align: center;
  width: 40px;
  margin: 0 var(--gap);
  height: 40px;
  border-top: 1px solid var(--color-light-grey);
  border-bottom: 1px solid var(--color-light-grey);
}

.dropdown {
  margin-left: var(--gap);
  margin-top: var(--gap);
  width: 40px;
}

.menu {
  padding: 8px 0;
}

.item {
  cursor: pointer;
  animation-duration: var(--animation-duration);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  font-size: calc(var(--font-size) * 0.9);
}

.item:hover {
  background-color: var(--color-light-grey);
}