.card, .card_def {
  position: relative;
  z-index: 21;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 135px;
  border-radius: var(--radius);
}

.card_def:hover {
  transition: var(--animation-duration);
  outline: 2px solid var(--color-dark-green);
  box-shadow: 0 0 7px 2px var(--color-light-green3);
}

.image {
  border-radius: var(--radius);
  overflow: hidden;
  background-color: var(--color-white);
  box-shadow: var(--color-shadow-04) 0 1px 1px, var(--color-shadow-03) 0 7px 13px -3px, #d8d8e2 0 -3px 0 inset;
  height: 135px;
}

.image:hover + .text {
  color: var(--color-black);
  background-color: var(--color-white);
  padding-top: 10px;
}

.card_def:hover .text {
  padding-top: var(-gap);
  font-weight: 400;
  color: var(--color-white);
  background-color: inherit;
}

.image img {
  width: 100%;
}

.text {
  padding-top: var(-gap);
  font-weight: 400;
  color: var(--color-white);
}