.table {
  position: relative;
  width: 100%;
  overflow: auto;
  height: calc(100% - var(--sheets-toolbar-height) - var(--sheets-footer-height) - var(--sheets-formula-height));
}

.table_row {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.table_row:first-child {
  padding-top: 40px;
}

.table_row_header {
  background-color: var(--color-white);
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 21;
}