.header {
  padding: 0 calc(var(--gap) * 4);
  padding-top: 10px;
  display: flex;
  align-items: center;
  height: var(--sheets-header-height);
}

.name {
  display: flex;
  width: 100%;
  padding-left: calc(var(--gap) * 4);
}

.settings {
  display: flex;
}

.loader {
  padding-right: calc(var(--gap) * 10);
}
