.cell_row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: var(--cell-height);
  width: var(--cell-row-width);
  border: 1px solid var(--color-grey);
  font-size: calc(var(--font-size) * 0.8);
  font-weight: 400;
  border-top: none;
  border-left: none;

  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
}

.resize {
  opacity: 0;
  transition: opacity var(--animation-duration);
  cursor: row-resize;
  position: absolute;
  left: 0;
  bottom: -3px;
  box-shadow: 0px 0px 4px 0 var(--color-green2);
  height: 6px;
  width: 100%;
  background-color: var(--color-green);
  border-radius: 1px;
  z-index: 20;
}

.line {
  display: none;
  margin-top: 3px;
  position: absolute;
  background-color: var(--color-green);
  width: 100vw;
  height: 1px;
  box-shadow: 0px 0px 2px 0 var(--color-green2);
}

.resize:hover {
  opacity: 1;
}