.footer {
  display: flex;
  border-top: 1px solid var(--color-light-grey);
  height: var(--sheets-footer-height);
  padding-left: calc(var(--gap) * 8);
  padding-right: calc(var(--gap) * 4);
}

.left {
  display: flex;
  height: 100%;
  width: 100%;
}

.right {
  height: 100%;
}

.button {
  margin-right: 1px;
}

.margin5 {
  margin-right: var(--gap);
}