.actions {
  display: flex;
  height: 100%;
  align-items: center;
}

.dropdown {
  bottom: 45px;
}

.button {
  margin-right: 1px;
  font-weight: 400;
}

.button.active {
  color: var(--color-green);
}

.last, .last svg {
  color: var(--color-dark-grey);
}

