.actions {
  display: flex;
  height: 100%;
  align-items: center;
}

.dropdown {
  bottom: 45px;
}

.button {
  margin-right: 1px;
}

.button.active {
  color: var(--color-green);
  font-weight: 400;
}

.list {
  padding: var(--sheets-padding) 0;
  width: 200px;
}

.li {
  transition: all var(--animation-duration);
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 35px;
  padding-left: var(--sheets-padding);
}

.li:hover {
  background-color: var(--color-light-grey);
}

.icon {
  width: 35px;
  padding-left: calc(var(--sheets-padding) / 2);
}

.icon svg {
  color: var(--color-black2);
  font-size: 1.2rem;
}