:root {
  --color-blue: #3067dd;
  --color-light-blue: #6189dd;
  --color-green: #4f9923;
  --color-white: #ffffff;
  --color-black: #242424;
  --color-black2: #444444;

  --color-light-grey: #e4e4e4;

  --sheet-header-height: 55px;
  --sheet-toolbar-height: 65px;
  --sheet-footer-height: 40px;

  --sheet-padding: 10px;

  --font-big: 1.1rem;
  --font-big2: 1.2rem;
  --font-normal: 1rem;
  --font-normal2: 0.9rem;
  --font-small: 0.8rem;
  --font-small2: 0.7rem;

  --border-radius: 4px;

  --animation-duration: 0.1s;
}

