:root {
  --color-blue: #235ad1;
  --color-light-blue: #6189dd;
  --color-green: #63d123;
  --color-white: #ffffff;
  --color-black: #242424;

  --color-light-grey: #d3d3d3;
  --color-toolbar-blue: #e9f3ff;

  --sheet-header-height: 55px;
  --sheet-toolbar-height: 40px;
  --sheet-footer-height: 40px;

  --sheet-padding: 10px;

  --font-big: 1.1rem;
  --font-big2: 1.2rem;
  --font-normal: 1rem;
  --font-normal2: 0.9rem;
  --font-small: 0.8rem;
  --font-small2: 0.7rem;

  --border-radius: 4px;

  --animation-duration: 0.1s;
}

