.table {
  width: 100%;
  overflow: auto;
  height: calc(100% - var(--sheet-toolbar-height) - var(--sheet-footer-height) - var(--sheet-formula-height));
}

.table_row {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
}