.settings {
  position: relative;
}

.menu {
  padding: calc(var(--gap) * 4);
  width: 300px;
  height: 600px;
}

.dropdown {
  right: 0;
  margin-top: var(--gap);
}

.dropdown.visible {
  overflow: visible;
}
