@import 'shared/styles/variables.css';

.title {
  position: relative;
}

.title_text {
  position: absolute;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: var(--font-small);
  border-radius: var(--border-radius);
  padding: 4px 6px;
  margin-top: 5px;
  word-wrap: none;
}