.title {
  display: inline-block;
  position: relative;
}

.title_text {
  z-index: 200;
  width: max-content;
  position: absolute;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: calc(var(--font-size) * 0.8);
  border-radius: var(--radius);
  padding: 4px 7px;
}