.card {
  transition: all var(--animation-duration);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 10px;
  justify-content: space-between;
  padding: 0 calc(var(--sheets-padding) * 2);
  height: 45px;
  width: 100%;
}

.card:hover {
  background-color: rgb(220, 255, 225);
}

.icon, .actions, .name, .sheets {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon {
  margin-right: 20px;
}

.icon svg {
  color: var(--color-green);
}

.icon svg{
  font-size: 1.6rem;
}

.actions svg {
  font-size: 1.5rem;
}

.actions {
  transition: all var(--animation-duration);
  position: relative;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.actions:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.action {
  top: 0;
  right: 0;
}