@import 'shared/styles/variables';

.header {
  padding: 0 calc(var(--sheets-padding) * 2);
  padding-top: 10px;
  display: flex;
  align-items: center;
  height: var(--sheets-header-height);
}

.name {
  display: flex;
  width: 100%;
  padding-left: calc(var(--sheets-padding) * 2);
}
