.font_family {
  display: inline-block;
}

.dropdown {
  margin-top: 5px;
}

.button {
  height: 40px;
  width: 100px;
}

.menu {
  width: 150px;
  height: 500px;
  padding: calc(var(--gap) * 2);
}

.button svg {
  margin-right: 5px;
}