.dropdown {
  border-radius: var(--border-radius);
  overflow: hidden;
  position: absolute;
  background-color: var(--color-white);
  z-index: 21;
  border-top: 1px solid rgb(235, 235, 235);
  box-shadow: rgba(70, 67, 73, 0.4) 0 1px 2px, rgba(70, 67, 73, 0.3) 0 7px 13px -3px;
}