.item {
  cursor: pointer;
  transition: background var(--animation-duration);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
}

.active .icon {
  color: var(--color-dark-green);
}

.icon {
  font-size: calc(var(--font-size * 1.1));
  color: var(--color-black2);
}

.item:hover {
  background-color: var(--color-light-grey);
}